[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
end_of_line = lf

[*.{go,bnf,tex}]
charset = utf-8

[{*.{yml,yaml}]
indent_size = 2
indent_style = space