name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.19]
    env:
      working-directory: ./src/github.com/goccmack/gocc

    steps:
    - name: Set GOPATH
      run: |
        echo "GOPATH=$(dirname $GITHUB_WORKSPACE)/gocc" >> $GITHUB_ENV
        echo "$(dirname $GITHUB_WORKSPACE)/gocc/bin" >> $GITHUB_PATH
      shell: bash

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        path: src/github.com/goccmack/gocc

    - name: Install linter
      run: "curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1 && go install golang.org/x/tools/cmd/goimports@latest"
      working-directory: ${{env.working-directory}}

    - name: Check
      run: go get && make ci
      working-directory: ${{env.working-directory}}


