name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.23]
    env:
      working-directory: ./src/github.com/goccmack/gocc

    steps:
    - name: Set GOPATH
      run: |
        echo "GOPATH=$(dirname $GITHUB_WORKSPACE)/gocc" >> $GITHUB_ENV
        echo "$(dirname $GITHUB_WORKSPACE)/gocc/bin" >> $GITHUB_PATH
      shell: bash

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        path: src/github.com/goccmack/gocc

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.60
        working-directory: ${{env.working-directory}}

    - name: Check
      run: go get && make ci
      working-directory: ${{env.working-directory}}

